/*-- scss:defaults --*/

$body-bg: #C6D6E3;
$body-color: #041e42;
$link-color: #42affa;
// $presentation-font-size-root: 40px;

/*-- scss:rules --*/

.reveal .edinburgh-hr {
    color: #041e42;
    background-color: #041e42;
    border: 0;
    height: 1px;
    width: 85%;
    margin-right: 0;
}

.reveal {
   font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.reveal.smaller .slides h1 {
    font-size: calc(2.5em/0.9); // overriding default which is 2.5em/0.7
}

.reveal .quarto-title-author {
   text-align: right !important;
   width: 100%;
   font-variant: small-caps;
   // font-size:smaller;
   font-size:larger;
}

.reveal .slide-logo {
   max-height: 2em !important;
   top: 0.25em;
   right: 0.5em;
}